ansicon==1.89.0
arrow==0.17.0
asgiref==3.2.10
blessed==1.17.11
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2
Django==3.1.2
django-environ==0.4.5
django-phonenumber-field==5.0.0
django-picklefield==3.0.1
django-q @ git+https://github.com/Koed00/django-q.git@d2e4101c91892428d766b77b8d6ecf771334561b
djangorestframework==3.12.1
fcm-django==0.3.4
idna==2.10
jinxed==1.0.1
phonenumbers==8.12.11
pycparser==2.20
pyfcm==1.4.7
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
requests==2.24.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.11
wcwidth==0.2.5
